@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

h1, h2, h3, h4, h5, p, img {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #f2f2f2;
    --form-color: #ffffff;
    --resume-color: #ffffff;
    --button-color: #6E44FF;
    --delete-button: #c70000;
}

body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: "Fustat", sans-serif;
}

#main-container {
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 1500px;
    margin: 20px;
    padding: 32px 24px;
}

#forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-buttons-container {
    display: flex;
    gap: 10px;
}

.action-button {
    margin-bottom: 15px;
    background-color: var(--form-color);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: 14px;
    font-weight: 550;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.action-button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.20s;
}

.action-button.clear {
    color: var(--delete-button);
}

.action-button.download {
    color: var(--button-color)
}

#popup-container {
    background-color: var(--form-color);
    width: 80%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#popup-container p {
    margin-bottom: 10px;
    font-weight: 500;
}

#popup-container div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#popup-container div button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    background-color: var(--background-color);
    padding: 8px 12px;
}

#popup-container div button:first-child {
    background-color: var(--delete-button);
    color: var(--form-color);
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 200px;
    margin-bottom: 40px;
    background-color: var(--form-color);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 25px 25px 25px 25px;
}

.form-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-container .form-title {
    font-size: 20px;
    font-weight: 700;
}

form {
    margin-top: 10px;
    padding: 0 25px 25px 25px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
} 

.input-container label {
    margin-bottom: 5px;
    font-size: 14px;
}

input, textarea {
    background-color: var(--background-color);
    border: none;
    height: 35px;
    border-radius: 8px;
    padding: 0 10px;
}

textarea {
    height: 80px;
    padding-bottom: 8px;
    padding-top: 8px;
    resize: none;
}

form.collapsed {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container button {
    border: none;
    border-radius: 8px;
    width: 70px;
    padding: 6px 10px;
}

.button-container .delete-button {
    background-color: var(--delete-button);
    color: var(--form-color);
    margin-right: 8px;
}

.button-container button[type=submit] {
    background-color: var(--button-color);
    color: var(--form-color);
}

.button-container .right-buttons {
    display: flex;
    gap: 10px;
}

.entries-container.collapsed {
    display: none;
}

.entries-container {
    display: grid;
}

.entries-container .add-button {
    margin: 0 25px 25px 25px;
    width: 150px;
    place-self: center;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    font-size: 14px;
    color: var(--form-color);
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.entry-list {
    list-style-type: none;
    margin-bottom: 20px;
}

.entry-list button {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 4px solid var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-list button:first-child {
    border-top: 4px solid var(--background-color);
}

.resume-container {
    width: 21cm;
    height: 29.7cm;
    background-color: var(--resume-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.resume-header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 60px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#header-name {
    font-size: 35px;
}

#contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#contact-info h2 {
    font-size: 16px;
    font-weight: 300;
}

.info-block {
    display: flex;
    gap: 8px;
}

.section-header {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    font-size: 20px;
}

#resume-sections {
    padding: 0 60px;
}


.education-section, .experience-section {
    margin-top: 30px;
}

.education-entry, .experience-entry {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 15px;
}

.degree-info, .school-info, .education-date, .company-info, .position-info {
    font-size: 16px;
}

.school-info, .position-info {
    font-weight: 300;
}

.date {
    font-weight: 300;
}

.experience-info, .education-info {
    max-width: 400px;
}

.company-info, .position-info, .degree-info {
    margin-bottom: 5px;
}

.position-info {
    font-style: italic;
}


@media (max-width: 1200px) {
    .resume-container {
        width: 65vw;
    }

}

@media (max-width: 1250px) {
    .button-container {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .action-buttons-container {
        flex-direction: column;
    }
}