h1, h2, h3, h4, h5, p, img {
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 300px;
    padding: 25px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container .form-title {
    font-size: 1.5em;
    font-weight: 600;
}

form {
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
} 

.input-container label {
    margin-bottom: 5px;
}

form.collapsed {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.entries-container.collapsed {
    display: none;
}


